/day1_custom_chatbot/.env
/venv
/day1_custom_chatbot/venv
.env
/day10_multimodal_RAG/data
chroma_db
documents
indexed_files.json
__pycache__/
data/
transcript.pdf
clinical_summary.json
clinical_summary.txt
masked_transcript.txt
clinical_summary.docx
clinical_summary.md